# Basis-URL des Next.js-Backends. localhost funktioniert im iOS-Simulator;
# fuer ein echtes Geraet die LAN-IP des Rechners verwenden (z.B. http://192.168.x.x:3000),
# fuer den Android-Emulator http://10.0.2.2:3000.
EXPO_PUBLIC_API_BASE_URL=http://localhost:3000
